

<!--
<div *ngFor="let post of posts">
    <button class="btn btn-primary" (click)="updatePost(post,title.value)">
        Update Post  
    </button>
   <button class="btn btn-primary" (click)="deletePost(post,title.value)">
            Delete Post  
        </button>
    {{ post.title }}
</div>
-->


  <!--<div class="col-12">
    <ul class="liis-group">
      
        <li class="list-group-item text-center cursor" *ngFor="let post of posts" title="{{post.title}}">
            <button class="btn btn-primary float-lg-left"  (click)="updatePost(post,title.value)"> Update Post </button>
        {{post.title}}
        <button class="btn btn-danger float-lg-right" (click)="deletePost(post)">Delete Post</button>
      </li>
      
    </ul>
  </div>-->

